# configs/kfold_config.yaml

# 기본값 설정
defaults:
  - _self_
  - override hydra/job_logging: disabled
  - override hydra/hydra_logging: disabled

# 완디비 설정
wandb:
  project: "cv-team9"
  entity: "12hongcoffee-42"
  # 이름에 fold 번호가 들어가도록 나중에 train.py에서 설정할 예정
  name: "K-FOLD-TRAIN-${model.name}"

# K-Fold를 위한 학습 설정
train:
  seed: 42
  num_epochs: 20
  learning_rate: 1e-4 # K-Fold는 안정적인 학습률로 시작
  n_splits: 5 # 5-Fold 교차 검증 실행

# K-Fold를 위한 데이터 설정
data:
  path: "./data/raw" # 원본 데이터를 사용
  image_size: 384
  batch_size: 16
  num_workers: 4
  augmentation_level: "strong"

# K-Fold로 테스트할 모델
model:
  name: "convnext_base" 
  num_classes: 17